@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
.btn-PGM{
background-color: rgb(78, 50, 15);
}
.btn-SGM{
    background-color: rgb(78, 50, 15);;
}
.btn-RA{
background-color:rgb(160,82,45);
}
.btn-PRI{
background-color: rgb(139,69,19);
}
.btn-RF{
background-color: rgb(160,82,45);
}
.btn-SRI{
background-color: rgb(139,69,19);
}
.btn-TRI{
background-color: rgb(139,69,19);
}
.btn-RR{
background-color: rgb(160,82,45);
}
.btn-EN{
background-color: rgb(139,69,19);
}
.btn-DB{
background-color: rgb(101,67,33);
}
.btn-IB{
background-color: rgb(78, 50, 15);;
}
.btn-AE{
background-color: rgb(139,69,19);
}
.btn-PB{
background-color: rgb(78, 50, 15);;
}
.btn-RV{
    background-color: rgb(111,78,55);
}
.btn-SA{
background-color: rgb(160,82,45);
}
.btn-EV{
background-color: rgb(101,67,33);
}
.btn-QR{
background-color: rgb(101,67,33);
}
.btn-DM{
    background-color:  rgb(111,78,55)
    ;
}
.card-img-top{
    height: 200px;
    object-fit: cover;
}
.card:hover{
    transform: scale(1.10);
    transition: 0.6s;
    z-index: 100;
    cursor: pointer;
}
.card{
    
}